* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    height: 100%;
    padding-top: calc(20px + 3vh);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: calc(20px + 4vh);

    background: linear-gradient(180deg, rgba(75,135,138,0.95) 25%, rgba(75,135,138,1) 45%);
}

h1 {
    font-size: calc(2rem + 1vw);
    color: #f74f4f;
    text-shadow: 0px 0px 8px black,
                 0px 0px 4px black,
                 0px 0px 2px black;
}
.actions a {
    margin: 0 1em;

    letter-spacing: calc(1px + 0.05vw);
    font-size: calc(1.5rem + 0.75vw);
    font-weight: 900;
    text-decoration: none;
    color: #007bff;
    text-decoration: underline;
    text-decoration-color: orangered;
    color: gold;
    text-shadow: 0px 0px 8px black,
                 0px 0px 4px black,
                 0px 0px 2px black;
}
p {
    letter-spacing: calc(1px + 0.05vw);
    font-size: calc(1.5rem + 0.75vw);
    font-weight: 900;
    color: gold;
    text-shadow: 0px 0px 8px black,
                 0px 0px 4px black,
                 0px 0px 2px black;
    text-align: center;
}
img {
    width: 40%;
    height: auto;
}
@media (min-width: 360px) and (max-width: 650px) {
    h1 {
        font-size: calc(24px + 1dvw);
    }
    img {
        width: 95%;
        height: auto;
    }
    p {
        font-size: calc(8px + 1dvw);
        line-height: calc(5px + 2dvh);
    }
    .actions a {
        font-size: calc(8px + 1dvw);
    }
}
/* Samsung Galaxy S21 - Width = 360px */
@media (max-width: 360px) {
    h1 {
        font-size: calc(24px + 1dvw);
    }
    img {
        width: 95%;
        height: auto;
    }
    p {
        font-size: calc(8px + 1dvw);
        line-height: calc(5px + 2dvh);
    }
    .actions a {
        font-size: calc(8px + 1dvw);
    }
}